* {
  margin: 0;
  font-family: "Work Sans";
}
main {
  margin: 0 100px;
}
/* banner style */
.container {
  background-image: url(../images/banner/banner2.png);
  background-size: cover;
  min-height: 640px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 100px;
}
.banner-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 20px;
}
.banner {
  margin-top: 50px;
  text-align: right;
  width: 20%;
}
.btn-banner {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #f15b22;
  border: 0;
  padding: 20px 30px;
  border-radius: 5px;
}
/* Failure style */
.failure-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  margin-top: 30px;
}

ul > li {
  list-style-position: inside;
  list-style-image: url(../images/icons/tick-small.png);
  color: #444343;
}
.failure-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}
.failures-description {
  padding: 60px;
}
.failure-details {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 30px;
}
.failure-list {
  padding: 0;
}
/* My plan style */
.my-plan {
  margin-top: 50px;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
}
.plan-container {
  display: flex;
  justify-content: space-between;
}
.plan {
  text-align: center;
}
.plan-title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 25px;
}
.plan-description {
  color: #737272;
  font-size: 25px;
  line-height: 29px;
}
