* {
  margin: 0;
  font-family: "Work Sans";
}
main {
  margin: 0 100px;
}
/* banner style */
.container {
  background-image: url(../images/banner/banner2.png);
  background-size: cover;
  min-height: 640px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 100px;
}
.banner-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 20px;
}
.banner {
  margin-top: 50px;
  text-align: right;
  width: 20%;
}
.btn-banner {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #f15b22;
  border: 0;
  padding: 20px 30px;
  border-radius: 5px;
}
/* Failure style */
.failure-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  margin-top: 30px;
}

ul > li {
  list-style-position: inside;
  list-style-image: url(../images/icons/tick-small.png);
  color: #444343;
}
.failure-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}
.failures-description {
  padding: 60px;
}
.failure-details {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 30px;
}
.failure-list {
  padding: 0;
}
/* My plan style */
.my-plan {
  margin-top: 50px;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
}
.plan-container {
  display: flex;
  justify-content: space-between;
}
.plan {
  text-align: center;
}
.plan-title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 25px;
}
.plan-description {
  color: #737272;
  font-size: 25px;
  line-height: 29px;
}
/* Positive Mindset style */
.positive-mindset {
  margin: 200px 0;
}
.pm-container {
  background-color: #f15b22;
  background-image: linear-gradient(
      to right,
      rgb(230, 104, 8),
      rgba(255, 0, 0, 0)
    ),
    url(../images/watch.png);
  min-height: 300px;
  min-width: 650px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px 30px 30px;
}
.positive-mindset-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  width: 30%;
  margin: 20px 0;
}
.btn-call {
  background: #ffffff;
  color: #f15b22;
  border: none;
  border-radius: 5px;
  padding: 20px 60px;
  font-weight: 600;
  font-size: 20px;
}
/* Footer style */
.footer-container {
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}
.footer-future {
  width: 35%;
}
.footer-title {
  font-weight: 700;
  font-size: 35px;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  margin: 15px 0;
}
.footer-phone {
  margin: 15px 0;
}
#input-email {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  height: 15%;
  padding: 10px;
  margin: 20px 0;
}
.subscribe-title {
  font-weight: 700;
  font-size: 20px;
}
/* Bonus mark style */
.bonus-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkseagreen;
  padding: 50px 0;
  margin-bottom: 150px;
  border-radius: 5px;
}
.bonus-title {
  font-weight: 700;
  font-size: 55px;
}
.bonus-btn {
  background: #ffffff;
  color: darkseagreen;
  border: none;
  border-radius: 5px;
  padding: 20px 60px;
  font-weight: 600;
  font-size: 20px;
  margin: 50px;
}
.bonus-img > img {
  border-radius: 10px;
}
